body {
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
  font-weight: 800;
}
h1 {
  font-size: 53px;
  text-align: center;
  border-bottom: 3px solid rgb(160, 160, 160);
  margin: 0;
  padding: 20px;
}
ol {
  border-right: 3px solid rgb(160, 160, 160);
  width: 100px;
  margin: 0;
  padding: 20px;
}
#grid ul {
  margin-left: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  margin-bottom: 5px;
  font-style: italic;
}
#grid ol {
  padding-left: 33px;
}
#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}
#content {
  padding-left: 33px;
  font-weight: 500;
}
#imgBox {
  position: relative;
}
#img {
  position: inherit;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
@media (max-width: 800px) {
  #grid {
    display: block;
  }
  ol {
    border-right: none;
  }
  h1 {
    border: none;
  }
  #content {
    padding-left: 15px;
  }
}
